
@{
    ViewData["Title"] = "Index";
}

<img src="#" alt="Yüklenecek görsel" />
<form method="post">
    <input type="file" id="path" name="path" value="" />
    <input type="submit" value="Yükle" />
</form>

@*@section scripts{ 
<script>
   
</script>
}*@